---
import Image from "./Image.astro";
import PhotoSwipe from "./PhotoSwipe.astro";
import MarkdownText from "./MarkdownText.astro";
import NarrowWrapper from "../layouts/NarrowWrapper.astro";
import type { PageBodyFragment } from "../graphql/__generated__/operations";
import HeroImage from "./HeroImage.astro";

interface Props {
  content: PageBodyFragment[];
}

const { content } = Astro.props;
---

{
  content.map((pageBody) => {
    switch (pageBody.__typename) {
      case "ComponentPageMarkdown":
        return (
          <NarrowWrapper>
            <MarkdownText data={pageBody} />
          </NarrowWrapper>
        );
      case "ComponentPageMedia":
        return (
          <NarrowWrapper>
            <div class="mb-8">
              <Image data={pageBody} />
            </div>
          </NarrowWrapper>
        );
      case "ComponentPageHeroImage":
        return (
          <div class="mb-8">
            <HeroImage heroImage={pageBody} />
          </div>
        );
      case "ComponentPageMosaicImageGallery":
        if (pageBody.Narrow) {
          return (
            <NarrowWrapper>
              <PhotoSwipe images={pageBody.Images} />
            </NarrowWrapper>
          );
        }
        return <PhotoSwipe images={pageBody.Images} />;

      default:
        break;
    }
  })
}
